<div class="search-group-component">
  <div class="search-group-form">
    <div class="search-group-form-element">
      <div class="div-label">
        <label>Add a manga</label>
      </div>
      <div class="search-group-result">
        <input
          #inputText
          type="text"
          (input)="onSearchUpdated(inputText.value)"
          [value]="searchInput()"
          placeholder="Enter name of manga..."
        />
        @if (mangaData().length) {
          <div class="search-manga-result">
            <ul>
              @for (manga of mangaData(); track manga.jikanId) {
                <li (click)="onClickAddManga(manga)">
                  <span class="li-manga-title">{{ manga.title }}</span>
                  <span class="li-manga-creator">{{ manga.genres }}</span>
                </li>
              }
            </ul>
          </div>
        }
      </div>
    </div>
    <div class="btn-group">
      <button class="btn-cancel">Cancel</button>
      <button class="btn-save">Save</button>
    </div>
  </div>

  @if (selectedMangas().length) {
    @for (manga of selectedMangas(); track manga.jikanId) {
      <div class="div-manga-element-group">
        <div class="div-manga-element">
          <img [src]="manga.coverUrl" />
          <div class="div-manga-element-text">
            <span class="span-manga-title">{{ manga.title }}</span>
            <span class="span-manga-genre">{{ manga.genres }}</span>
          </div>
        </div>
        <app-svg-icons (click)="deleteMangaFromList(manga.jikanId)" class="icon-delete" [path]="'/assets/icons/delete-2-svgrepo-com.svg'"/>
      </div>
    }
  } @else {
    <div class="div-manga-list">
      <div class="div-manga-list-text">
        <span class="span-title">Your list is Empty</span>
        <span class="span-text">Add mangas using the field above.</span>
      </div>
    </div>
  }
</div>
