<div class="search-group-component">
  <div class="search-group-form">
    <div class="search-group-form-element">
      <div class="div-label">
        <label>Add a manga</label>
      </div>
      <div class="search-group-result">
        <input
          #inputText
          type="text"
          (input)="onSearchUpdated(inputText.value)"
          [value]="searchInput()"
          placeholder="Enter name of manga..."
        />
        @if (mangaData().length) {
          <div class="search-manga-result" [class.disabled]="isClicked()">
            <ul>
              @for (manga of mangaData(); track manga.jikanId) {
                <li
                  (click)="!isMangaAlreadyAdded(manga.jikanId) && onClickAddManga(manga)"
                  [class.manga-added]="isMangaAlreadyAdded(manga.jikanId)"
                >
                  <span class="li-manga-title">{{ manga.title }}</span>
                  <span class="li-manga-creator">{{ manga.genres }}</span>
                </li>
              }
            </ul>
          </div>
        }
      </div>
    </div>
    <div class="btn-group">
      <button class="btn-cancel" (click)="onCLickCancel()">Cancel</button>
      <button class="btn-save" (click)="onClickSubmitMangaList()">{{btnTxt()}}</button>
    </div>
  </div>

  @if (mangaFormField().value().length) {
    <div class="div-manga-element-shell">
      @for (manga of mangaFormField().value(); track manga.jikanId) {
        <div
          class="div-manga-element-group"
          [class.first]="mangaFormField().value().length > 1 && $first"
          [class.last]="mangaFormField().value().length > 1 && $last"
          [class.middle]="mangaFormField().value().length > 1 && !$first && !$last"
        >
          <div class="div-manga-element">
            <img [src]="manga.coverUrl" />
            <div class="div-manga-element-text">
              <span class="span-manga-title">{{ manga.title | slice: 0 : 30 }}</span>
              <span class="span-manga-genre">{{ manga.synopsis}}</span>
            </div>
          </div>
          <app-svg-icons
            (click)="deleteMangaFromList(manga.jikanId)"
            class="icon-delete"
            [path]="'/assets/icons/delete-2-svgrepo-com.svg'"
          />
        </div>
      }
    </div>
  } @else {
    <div class="div-manga-list">
      <div class="div-manga-list-text">
        <span class="span-title">Your list is Empty</span>
        <span class="span-text">Add mangas using the field above.</span>
      </div>
    </div>
  }
</div>
