<div class="create-list-component">
  <div class="list-form">
    <h2>New List</h2>
    <hr class="hr-line">
    <div class="create-list-section">
      <div class="left-create-group">
        <div class="element-group">
          <label>List title</label>
          <input type="text" [formField]="createListForm.title" />
          <div class="text-error">
            @if (createListForm.title().touched() && createListForm.title().invalid()){
              @for (error of createListForm.title().errors(); track error.kind){
                <span>{{error.message}}</span>
              }
            }
          </div>
        </div>
        <div class="element-group">
          <label>Who can view</label>
          <div class="btn-group">
            <button class="btn-public" (click)="onClickPublic()" [class.is-public]="isListPublic()">Public</button>
            <button class="btn-private" (click)="onClickPublic()" [class.is-private]="isListPublic() === false">Private</button>
          </div>
        </div>
      </div>
      <div class="right-create-group">
        <div class="element-description">
          <label>Description</label>
          <textarea [formField]="createListForm.description" placeholder="List description..."></textarea>
        </div>
      </div>
    </div>
  </div>
  <app-search-manga-form (onSubmit)="handleClickSubmitMangaList()" [mangaFormField]="createListForm.mangas()"></app-search-manga-form>
</div>
