<div class="create-list-component">
  <div class="list-form">
    <h2>New List</h2>
    <hr class="hr-line">
    <div class="create-list-section">
      <div class="left-create-group">
        <div class="element-group">
          <label>List Title</label>
          <input type="text" />
        </div>
        <div class="element-group">
          <label>Who can view</label>
          <div class="btn-group">
            <button class="btn-public">Public</button>
            <button class="btn-private">Private</button>
          </div>
        </div>
      </div>
      <div class="right-create-group">
        <div class="element-description">
          <label>Description</label>
          <textarea></textarea>
        </div>
      </div>
    </div>
  </div>
  <app-search-manga-form></app-search-manga-form>
</div>
