<div class="auth-page">
  <form class="auth-form">
    <h1>{{ cardTitle() }}</h1>
    <p>
      {{ cardLoginOrRegisterText() }}
      <a (click)="onNavigateToLoginOrRegister()">{{ linkToRegisterOrLogin() }}</a>
    </p>

    @if (isRegisterScreen()) {
      <div class="input-group">
        <span>Pseudo</span>
        <input type="text" [formField]="authForm().fullName!" />
        <div class="text-error">
          @if (
            authForm().fullName!().touched() && authForm().fullName!().invalid()) {
            @for (error of authForm().fullName!().errors(); track error.kind){
              <span>{{error.message}}</span>
            }
          }
        </div>
      </div>
    }

    <div class="input-group">
      <span>Email</span>
      <input type="email" [formField]="authForm().emailId" />
      <div class="text-error">
        @if (authForm().emailId().touched() && authForm().emailId().invalid()) {
          @for(error of authForm().emailId().errors(); track error.kind){
            <span>{{error.message}}</span>
          }
        }
      </div>
    </div>

    <div class="input-group">
      <span>Password</span>
      <input type="password" [formField]="authForm().password" />
      <div class="text-error">
        @if (
          authForm().password().touched() && authForm().password().invalid()) {
          @for(error of authForm().password().errors(); track error.kind){
            <span>{{error.message}}</span>
          }
        }
      </div>
    </div>
    <button type="button" [disabled]="authForm()().invalid() || isSubmitting()" (click)="onClick()" class="btn-validator">{{ btnText() }}</button>
  </form>
</div>
