$text-error-color: #ffdd02;
$text-color-white: #ffffff;

.auth-page {
  position: relative;
  min-height: 100vh;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.auth-form {
  background-color: #455466;
  padding-top: 10px;
  width: 450px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  color: $text-color-white;
}

p {
  text-align: center;
  color: $text-color-white;
}

a {
  background-color: #677688;
  color: $text-color-white;
  padding: 6px;
  border-radius: 100px;
  cursor: pointer;
}

.input-group {
  margin-top: 10px;
  color: $text-color-white;
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-bottom: 10px;
}

.input-group input {
  margin: 4px 0px 4px 0px;
  height: 30px;
}

.text-error {
  color: $text-error-color;
  font-size: medium;
}

.text-error span {
  font-size: smaller;
}

.btn-validator {
  all: unset;
  background-color: #05ac1d;
  border-radius: 0 0 10px 10px;
  width: 30%;
  height: 40px;
  display: inline-flex;
  cursor: pointer;
  color: $text-color-white;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 320px) {
  h1 {
    text-align: center;
    color: $text-color-white;
    font-size: x-large;
  }

  a {
    background-color: #677688;
    color: $text-color-white;
    padding: 6px;
    border-radius: 100px;
    cursor: pointer;
    font-size: 11px;
  }

  .auth-form {
    max-width: 90%;
  }

  .btn-validator {
    width: 100%;
    padding-top: 0px;
    margin-top: 10px;
  }
}
