<header class="header">
  <div class="header-component" [class.open]="isActive">
    <a routerLink="homelist" class="logo">MangaBoxd</a>
    <nav>
      <ul>
        <li>
          <a class="header-group" routerLink="/createlist" routerLinkActive="active">
            <app-svg-icons class="icon" [path]="'/assets/icons/add-circle-svgrepo-com.svg'" />
            <span>List</span>
          </a>
        </li>
        <li>
          <a class="header-group" routerLink="/userprofil" routerLinkActive="active">
            <app-svg-icons class="icon" [path]="'/assets/icons/user-svgrepo-com.svg'" />
            <span>Profil</span>
          </a>
        </li>
        <li>
          <img
            class="icon-logout"
            src="/assets/icons/logout-svgrepo-com.svg"
            (click)="onLogOut()"
          />
        </li>
      </ul>
    </nav>
    <div class="menu-mobile">
      <div class="menu-mobile-circle" [ngClass]="{ active: isActive }" (click)="toggleMenu()"></div>
    </div>
  </div>
  <div class="header-mobile-component" [class.open]="isActive">
    <nav>
      <ul>
        <li>
          <a class="header-mobile-group" routerLink="/createlist" routerLinkActive="active">
            <app-svg-icons
              class="mobile-icon"
              [path]="'/assets/icons/add-circle-svgrepo-com.svg'"
            />
            <span>List</span>
          </a>
        </li>
        <li>
          <a class="header-mobile-group" routerLink="/userprofil" routerLinkActive="active">
            <app-svg-icons class="mobile-icon" [path]="'/assets/icons/user-svgrepo-com.svg'" />
            <span>Profil</span>
          </a>
        </li>
        <li>
          <a class="header-mobile-group" (click)="onLogOut()">
            <app-svg-icons class="mobile-icon" [path]="'/assets/icons/logout-svgrepo-com.svg'" />
            <span>Logout</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
