<div class="manga-group">
  @for (mangaList of mangaLists(); track mangaList.id) {
    <div class="manga-element">
      <app-manga-cover-list [dataArray]="mangaList.mangas" />
      <div class="text-section">
        <h2 class="title-section">{{ mangaList.title }}</h2>
        <p>
          {{ mangaList.description }}
        </p>
        <div class="info-section">
          <span>{{ mangaList.owner.firstname }}</span>
          <span>{{ mangaList.createdAt }} mangas</span>
          
        </div>
      </div>
    </div>
  }
</div>
