$color-primary: #ff8001;
$color-secondary: #00e054;
$color-tertiary: #40bcf4;
$color-quarternary: #455466;

body {
  width: 100%;
}

h2 {
  color: white;
}

p {
  color: white;
  text-align: justify;
}

span {
  color: $color-quarternary;
}

.manga-group {
  margin: 0 40px;
  display: flex;
  flex-direction: column;
}

.manga-element {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  margin-bottom: 4%;
}

.info-section {
  display: flex;
  gap: 15px;
}

.like-group {
  display: flex;
  gap: 6px;
}

.icon-eye {
    width: 20px;
    height: 20px;
    background-color: $color-primary;
  }

  .icon-heart {
    width: 20px;
    height: 20px;
    background-color: $color-secondary;
  }

  .icon-comment {
    width: 20px;
    height: 20px;
    background-color: $color-tertiary;
  }

@media screen and (min-width: 320px) {
  .manga-element {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20%;
  }

  .icon-eye {
    max-width: 12px;
    max-height: 12px;
  }

  .icon-heart {
    max-width: 11px;
    max-height: 11px;
  }

  .icon-comment {
    max-width: 11px;
    max-height: 11px;
  }

  .info-section span {
    font-size: 9.2px;
  }

  h2 {
    font-size: medium;
  }

  p {
    font-size: small;
  }

  span {
    color: white;
  }
}

@media screen and (min-width: 420px) {
  .manga-element {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10%;
  }

  .icon-eye {
    max-width: 18px;
    max-height: 18px;
  }

  .icon-heart {
    max-width: 18px;
    max-height: 18px;
  }

  .icon-comment {
    max-width: 18px;
    max-height: 18px;
  }

  .info-section span {
    font-size: 14px;
  }

  h2 {
    font-size: x-large;
  }

  p {
    font-size: medium;
  }

  span {
    color: white;
  }
}

@media screen and (min-width: 768px) {
  .manga-element {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 5%;
  }

  .icon-eye {
    max-width: 22px;
    max-height: 22px;
  }

  .icon-heart {
    max-width: 22px;
    max-height: 22px;
  }

  .icon-comment {
    max-width: 22px;
    max-height: 22px;
  }

  .info-section span {
    font-size: 18px;
  }

  h2 {
    font-size: x-large;
  }

  p {
    font-size: large;
  }

  span {
    color: white;
  }
}

@media screen and (min-width: 1024px) {
  h2 {
  color: white;
}

p {
  color: white;
  text-align: justify;
}

span {
  color: $color-quarternary;
}

.manga-group {
  margin: 0 40px;
  display: flex;
  flex-direction: column;
}

.manga-element {
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: flex-start;
}

.info-section {
  display: flex;
  gap: 15px;
}

.like-group {
  display: flex;
  gap: 6px;
}

.icon-eye {
    max-width: 20px;
    max-height: 20px;
  }

  .icon-heart {
    max-width: 20px;
    max-height: 20px;
  }

  .icon-comment {
    max-width: 20px;
    max-height: 20px;
  }
}
