<div class="div-manga-list-group">
  <span class="span-your-lists">Your Lists</span>
  <hr class="hr" />
  @if (mangaLists()?.length) {
    <div class="manga-group">
      @for (list of mangaLists(); track list.id) {
        <div class="manga-element">
          <app-manga-cover-list [dataArray]="list.mangas" />
          <div class="text-section">
            <div class="title-section">
              <h2 class="h2-list-title">{{ list.title }}</h2>
              <div class="btn-group">
              <button class="btn-update">Update</button>
              <button (click)="onClickListDelete(list.id)" class="btn-delete">Delete</button>
              </div>
            </div>
            @if (list.isPublic) {
              <div class="div-public-group">
                <app-svg-icons class="icon" [path]="'/assets/icons/locker-open-svgrepo-com.svg'" />
                <span>Public</span>
              </div>
            } @else {
              <div class="div-private-group">
                <app-svg-icons
                  class="icon"
                  [path]="'/assets/icons/locker-closed-svgrepo-com.svg'"
                />
                <span>Private</span>
              </div>
            }
            <p class="p-list-description">
              {{ list.description }}
            </p>
            <div class="info-section">
              <span>{{ list.createdAt | date: 'mediumDate' }}</span>
              <span>{{ list.mangas.length }} manga</span>
            </div>
          </div>
        </div>
      }
    </div>
  } @else {
    <div class="div-manga-list">
      <div class="div-manga-list-text">
        <span class="span-title">Your list is Empty</span>
        <button (click)="onClickCreateList()" class="btn-create-list">Create a list</button>
      </div>
    </div>
  }
</div>
