<div class="search-group-component">
  <div class="search-group-form">
    <div class="search-group-form-element">
      <div class="div-label">
        <label>Add a manga</label>
      </div>
      <div class="search-group-result">
        <input type="search" placeholder="Enter name of manga..." />
        <div class="search-manga-result">
          <ul>
            <li>
              <span class="li-manga-title">Naruto</span>
              <span class="li-manga-creator">Masashi Kishimoto</span>
            </li>
            <li>
              <span class="li-manga-title">Naruto</span>
              <span class="li-manga-creator">Masashi Kishimoto</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="btn-group">
      <button class="btn-cancel">Cancel</button>
      <button class="btn-save">Save</button>
    </div>
  </div>

  <div class="div-manga-list">
    <div class="div-manga-list-text">
      <span class="span-title">Your list is Empty</span>
      <span class="span-text">Add mangas using the field above.</span>
    </div>
  </div>
</div>
